/* @import url("https://fonts.googleapis.com/css2?family=Gluten&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@700&display=swap"); */
@font-face {
  font-family: Peyda;
  src: url(../font/Peyda-ExtraBold.ttf);
}
:root {
  --ColorOne: #343a5e;
  --ColorTwo: #08133ce7;
  --ColorThree: #26222d;
  --textcolor: white;
}
html.mode {
  --ColorOne: #0e1e44;
  --ColorTwo: #35608a;
  --ColorThree: #c2c4c5;
  --textcolor: rgb(255, 255, 255);
}
html {
  color: var(--ColorOne);
  font-family: Peyda;
}
.container {
  transition: height 0.8s ease 0s;
  overflow: hidden;
  height: 100%;
  overflow: hidden;
  width: 100%;
  font-family: Peyda;
  /* background-color: #0e1e44; */
}
.clock {
  font-weight: bold;
  margin-right: 25px;
  
}
.dis{display: flex; align-items: center; justify-content: center; width: 100%; gap: 15px;}
.dis img{
  margin-bottom: 7px;
  background-color: #112f76;
  padding: 10px;
  border-radius: 10px;
}

#wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 960px;
  height: 630px;
  background-color: var(--ColorTwo);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 10px 0px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  /* display: none; */
  transition: all 500ms ease 0s;
}
.LogoBox {
  float: right;
  display: flex;
  padding: 30px 0px 0px 25px;
  align-items: center;
  flex-direction: column;
}
.LogoBox img {
  /* height: 300px; */
  animation: 2s ease 0s infinite alternate-reverse none running logo;
  cursor: pointer;
  width: 250px;
}
@keyframes logo {
  0% {
    filter: drop-shadow(rgba(1, 26, 58, 0.68) 0px 0px 5px);
  }
  100% {
    filter: drop-shadow(rgba(0, 76, 175, 0.68) 0px 0px 25px);
  }
}
.Jobs {
  padding: 35px 50px 25px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column-reverse;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
  margin-left: -30px;
  
}
.job2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:7px;
  /* margin-bottom: 20px; */
  position: absolute;
  top: 63%;
  left: 50;
}
.nezamijb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-color: #0e1e44;
  border-radius: 10px;
}
.nzsec1{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.Mt{
  
  background-image: url("./Job/MT.png");
  width: 54px;
  height: 54px;
  background-size: cover;
  
}
.staffs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 400px;
  gap: 5%;
  height: 200px;
  position: absolute;
  top: -7%;
  background-color:transparent;
  /* margin-bottom: 30px; */
  left:64%;
  border-radius: 10px;
}

.dolatijb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-color: #0e1e44;
  border-radius: 10px;
}
.dlsec1{
  display: flex;
  align-items: center;
  justify-content: center;

}
.dlsec2{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.robs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 675px;
  padding-left: 15px;
  position: absolute;
  left: 110px;
  gap: 30px;
  margin-top: 60px;
  /* top: 40%; */

  

}
.info1{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  /* background-color: #0e1e44; */
  border-radius:10px;
  gap: 20px;
  width:100%;
  height: 200px;
}
.robs2{
  display: flex;
  flex-flow: row ;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 40px;
  width: 100%;
  padding-left: 5px;
  /* position: absolute; */
  /* left: 10px; */
  gap: 30px;
}
.logorp{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: -10%;
  margin-left: 100px;
}
.logop{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 30px; */
  margin-top: 15px;
  margin-left: 190%;
  gap: -30px;
}
.logorp h3{
  font-size: 27px;
  margin-top: 30%;
  position: absolute;
}
.logop h3{
  font-size: 27px;
  margin-top: 30%;
  position: absolute;
}
.Time {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: row-reverse; */
  position: absolute;
  top: 2%;
  right: 1%;
  gap: 10px;
  background-color: #0e1e44;
  border-radius: 10px;
  /* padding:5px; */
  height: 50px;
  width: 170px;
}
.Time p{
  margin-top:20px ;
  margin-left: 20px;
}
.RobStatusBase {
  background-color: var(--ColorThree);
  transition: all 500ms ease 0s;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.RobStatus {
  padding: 5px;
  background-color: white;
  width: 82px;
  height: 82px;
  border-radius: 150px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section1,.section2,.section3,.section4{
  display: none;
}
.section1,.section2,.section4,.section3.active{
  display: block;
}
.shop {
  background-image: url("./Robb/ShopDeactive.png");
  background-size: cover;
}
.shop_active {
  background-image: url("./Robb/ShopActive.png");
  background-size: cover;
  animation: 2s ease 0s infinite alternate-reverse none running shoprobactive;
}
.shop_down {
  background-image: url("./Robb/ShopDown.png");
  background-size: cover;
}
.Bank {
  background-image: url("./Robb/BankDeactive.png");
  background-size: cover;
}
.Bank_active {
  background-image: url("./Robb/BankActive.png");
  background-size: cover;
  animation: 2s ease 0s infinite alternate-reverse none running Bankrobactive;
}
.Bank_down {
  background-image: url("./Robb/BankDown.png");
  background-size: cover;
}
.SheriffBank {
  background-image: url("./Robb/CBankDeactive.png");
  background-size: cover;
}
.SheriffBank_active {
  background-image: url("./Robb/CBankActive.png");
  background-size: cover;
  animation: 2s ease 0s infinite alternate-reverse none running
    SheriffBankrobactive;
}
.SheriffBank_down {
  background-image: url("./Robb/CBankDown.png");
  background-size: cover;
}
.Cargo {
  background-image: url("./Robb/CargoDeactive.png");
  background-size: cover;
}
.Cargo_active {
  background-image: url("./Robb/CargoActive.png");
  background-size: cover;
  animation: 2s ease 0s infinite alternate-reverse none running Cargorobactive;
}
.Cargo_down {
  background-image: url("./Robb/CargoDown.png");
  background-size: cover;
}
.Bimeh {
  background-image: url("./Robb/LifeInsuranceDeactive.png");
  background-size: cover;
}
.Bimeh_active {
  background-image: url("./Robb/LifeInsuranceActive.png");
  background-size: cover;
  animation: 2s ease 0s infinite alternate-reverse none running Bimehrobactive;
}
.Bimeh_down {
  background-image: url("./Robb/LifeInsuranceDown.png");
  background-size: cover;
}
.jewelery {
  background-image: url("./Robb/JewelryDeactive.png");
  background-size: cover;
}
.jewelery_active {
  background-image: url("./Robb/JewelryActive.png");
  background-size: cover;
  animation: 2s ease 0s infinite alternate-reverse none running
    jeweleryrobactive;
}
.jewelery_down {
  background-image: url("./Robb/JewelryDown.png");
  background-size: cover;
}
.Feleca {
  background-image: url("./Robb/FleecaBankDeactive.png");
  background-size: cover;
}
.Feleca_active {
  background-image: url("./Robb/FleecaBankActive.png");
  background-size: cover;
  animation: 2s ease 0s infinite alternate-reverse none running felecarobactive;
}
.Feleca_down {
  background-image: url("./Robb/FleecaBankDown.png");
  background-size: cover;
}
.Minibank {
  background-image: url("./Robb/MinibankDeactive.png");
  background-size: cover;
}
.Minibank_active {
  background-image: url("./Robb/MinibankActive.png");
  background-size: cover;
  animation: 2s ease 0s infinite alternate-reverse none running minirobactive;
}
.Minibank_down {
  background-image: url("./Robb/MinibankDown.png");
  background-size: cover;
}
.JewelerySheriff {
  background-image: url("./Robb/Jewelry2Deactive.png");
  background-size: cover;
}
.JewelerySheriff_active {
  background-image: url("./Robb/Jewelry2Active.png");
  background-size: cover;
  animation: 2s ease 0s infinite alternate-reverse none running
    jewelerysheriffrobactive;
}
.JewelerySheriff_down {
  background-image: url("./Robb/Jewelry2Down.png");
  background-size: cover;
}
.mythic {
  background-image: url("./Robb/MythicDeactive.png");
  background-size: cover;
}
.mythic_active {
  background-image: url("./Robb/MythicActive.png");
  background-size: cover;
  animation: 2s ease 0s infinite alternate-reverse none running mythicrobactive;
}
.mythic_down {
  background-image: url("./Robb/MythicDown.png");
  background-size: cover;
}
.InfoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 20px 40px;
  gap: 30px;
  color: var(--textcolor);
  transition: all 500ms ease 0s;
  width: 100%;
  
}
.InfoBox button {
  background-color: rgb(11, 71, 223);
  color: white;
  border: none;
  font-family: Gluten, cursive;
  border-radius: 10px;
  padding: 10px 5px;
  cursor: pointer;
  transition: all 500ms ease 0s;
}
.InfoBox button:hover {
  font-size: 16px;
  padding: 8px 0px;
  transition: all 500ms ease 0s;
}
.switchDr{
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  height: 54px;
  padding: 3px;
  border-radius: 25px;
  top: 2%;
  right: 80%;
}
.playerinfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0e1e44;
  border-radius:10px;
  width: 200px;
  height: 200px;
}
.clockinfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0e1e44;
  border-radius:10px;
  width: 200px;
  height: 200px;
}
.info2{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.discordinfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0e1e44;
  border-radius:10px;
  width: 300px;
  height: 200px;
}
.RightSide {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second_container {
  transition: height 0.8s ease 0s;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Gluten, cursive;
}
.robssec1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-right: 10px;
}
.robssec2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-right: 20px;
}
.rob_info_box {
  float: right;
  padding: 25px;
  width: 90%;
  overflow-wrap: break-word;
  text-align: right;
  font-family: "Noto Sans Arabic", sans-serif;
  color: var(--textcolor);
  transition: all 500ms ease 0s;
  margin-top: 30px;
}
.rob_info_box .info1 img {
  width: 240px;
  height: 172px;
  border-radius: 15px;
  box-shadow: rgb(23, 23, 23) 0px 0px 20px 9px;
}
.panel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.panel-content {
  background-color: rgba(27, 26, 26, 0.656);
  backdrop-filter: blur(10px);
  padding: 20px;
  width: 600px;
  height: 440px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.rob_details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  position: absolute;
  gap: 10px;
  top: 3%;
}

.police_count, .robber_count {
  display: flex;
  align-items: center;
}

.police_count img, .robber_count img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
@keyframes shoprobactive {
  0% {
    box-shadow: rgb(222, 0, 255) 0px 0px 13px 5px;
  }
  100% {
    box-shadow: rgb(222, 0, 255) 0px 0px 13px 0px;
  }
}
@keyframes Bankrobactive {
  0% {
    box-shadow: rgb(22, 124, 14) 0px 0px 13px 5px;
  }
  100% {
    box-shadow: rgb(22, 124, 14) 0px 0px 13px 0px;
  }
}
@keyframes SheriffBankrobactive {
  0% {
    box-shadow: rgb(142, 111, 61) 0px 0px 13px 5px;
  }
  100% {
    box-shadow: rgb(142, 111, 61) 0px 0px 13px 0px;
  }
}
@keyframes Cargorobactive {
  0% {
    box-shadow: rgb(3, 132, 141) 0px 0px 13px 5px;
  }
  100% {
    box-shadow: rgb(3, 132, 141) 0px 0px 13px 0px;
  }
}
@keyframes Bimehrobactive {
  0% {
    box-shadow: rgb(16, 203, 217) 0px 0px 13px 5px;
  }
  100% {
    box-shadow: rgb(16, 203, 217) 0px 0px 13px 0px;
  }
}
@keyframes jeweleryrobactive {
  0% {
    box-shadow: rgb(255, 186, 0) 0px 0px 13px 5px;
  }
  100% {
    box-shadow: rgb(255, 186, 0) 0px 0px 13px 0px;
  }
}
@keyframes felecarobactive {
  0% {
    box-shadow: rgb(145, 255, 0) 0px 0px 13px 5px;
  }
  100% {
    box-shadow: rgb(145, 255, 0) 0px 0px 13px 0px;
  }
}
@keyframes minirobactive {
  0% {
    box-shadow: rgb(10, 207, 92) 0px 0px 13px 5px;
  }
  100% {
    box-shadow: rgb(10, 207, 92) 0px 0px 13px 0px;
  }
}
@keyframes jewelerysheriffrobactive {
  0% {
    box-shadow: rgb(255, 81, 0) 0px 0px 13px 5px;
  }
  100% {
    box-shadow: rgb(255, 81, 0) 0px 0px 13px 0px;
  }
}
@keyframes mythicrobactive {
  0% {
    box-shadow: rgb(0, 68, 255) 0px 0px 13px 5px;
  }
  100% {
    box-shadow: rgb(0, 68, 255) 0px 0px 13px 0px;
  }
}
.switch-container .switch-list {
  margin: 50px 0px;
  text-align: center;
}
.switch-container .switch-list > .switch {
  display: block;
  margin: 20px auto;
}
.switch-container .switch-list .switch-material,
.switch-container .switch-list .switch-toggle {
  display: inline-block;
  margin-top: 30px;
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  height: 54px;
  padding: 3px;
  border-radius: 25px;

}
.switch-input {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 12px;
  text-transform: uppercase;
  background: var(--ColorThree);
  border-radius: inherit;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px inset,
    rgba(0, 0, 0, 0.15) 0px 0px 2px inset;
  transition: all 0.15s ease-out 0s;
  margin-right: 12px;
}
.switch-label::before,
.switch-label::after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1.2;
  color: var(--textcolor);
  transition: all 500ms ease 0s;
}
.switch-label::before {
  content: attr(data-off);
  right: 11px;
  font-size: 12px;
}
.switch-label::after {
  content: attr(data-on);
  left: 13px;
  opacity: 0;
  position: absolute;
  color: white;
}
.switch img{
  margin-bottom: 30px;
}
.switch-input:checked ~ .switch-label {
  background: rgb(1, 47, 90);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px inset,
    rgba(0, 0, 0, 0.2) 0px 0px 3px inset;
}
.switch-input:checked ~ .switch-label::before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label::after {
  font-size: 25px;
  opacity: 1;
}
.switch-input:checked ~ .switch-handle {
  left: 130px;
  box-shadow: rgba(0, 0, 0, 0.2) -1px 1px 5px;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 1px;
  width: 33px;
  height: 33px;
  background: linear-gradient(white 40%, rgb(240, 240, 240)) transparent;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
  transition: left 0.15s ease-out 0s;
}
.switch-material-label {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 44px;
  background: rgb(137, 137, 137);
  border-radius: 100px;
  transition: all 0.3s ease 0s;
}
.switch-material-label::after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 3px;
  content: "";
  transition: all 0.3s ease 0s;
}
.switch-material-label:active::after {
  transform: scale(1.15, 0.85);
}
.switch-material-input:checked ~ label {
  background: rgb(111, 190, 181);
}
.switch-material-input:checked ~ label::after {
  left: 20px;
  background: rgb(23, 149, 136);
}
.switch-material-input:disabled ~ label {
  background: rgb(213, 213, 213);
  pointer-events: none;
}
.switch-material-input:disabled ~ label::after {
  background: rgb(188, 189, 188);
}
.switch-material-input.is-hidden {
  display: none;
}
.switch-toggle {
  margin: 0px;
  padding: 0px;
}
.switch-toggle input[type="checkbox"] {
  display: none;
}
.switch-toggle input[type="checkbox"]:checked + label {
  border-color: rgb(143, 220, 90);
  background: rgb(143, 220, 90);
  box-shadow: rgb(143, 220, 90) 0px 0px 0px 12.5px inset;
}
.switch-toggle label {
  transition: all 0.2s ease-in-out 0s;
  display: inline-block;
  position: relative;
  background: rgb(220, 53, 34);
  box-shadow: rgb(143, 220, 90) 0px 0px 0px 0px inset;
}
.switch-toggle label div {
  transition: all 0.2s ease-in-out 0s;
  background: white;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
}
/* .switch-toggle label:hover,
.switch-toggle label > div:hover {
} */
.switch-toggle input[type="checkbox"]:checked + label > div {
  margin-left: 21px;
}
.switch-toggle label {
  border: 2px solid rgb(220, 53, 34);
  border-radius: 27px;
  height: 29px;
  width: 50px;
}
.police {
  background-image: url("./Job/Police.png");
  width: 54px;
  height: 54px;
  background-size: cover;
}
.sheriff {
  background-image: url("./Job/sheriff.png");
  width: 54px;
  height: 54px;
  background-size: cover;
}
.ambulance {
  background-image: url("./Job/medic.png");
  width: 54px;
  height: 54px;
  background-size: cover;
}
.mechanic {
  background-image: url("./Job/mechanic.png");
  width: 54px;
  height: 54px;
  background-size: cover;
}
.taxi {
  background-image: url("./Job/taxi.png");
  width: 54px;
  height: 54px;
  background-size: cover;
  transition: all 1s;
  
}
.taxi, .fbi, .weazel, .mechanic, .police, .sheriff, .mt, .ambulance {
  transition: transform 0.5s ease-in-out;
}

.taxi:hover, .fbi:hover, .weazel:hover, .mechanic:hover, .police:hover, .sheriff:hover, .mt:hover, .ambulance:hover {
  animation: shake 0.9s infinite ease-in;
  transform: translateY(-5px);
}
@keyframes shake {
  0% { transform: translateY(-5px) rotate(0deg); }
  25% { transform: translateY(-5px) rotate(1deg); }
  50% { transform: translateY(-5px) rotate(0deg); }
  75% { transform: translateY(-5px) rotate(-1deg); }
  100% { transform: translateY(-5px) rotate(0deg); }
}
.weazel {
  background-image: url("./Job/weazelnews.png");
  width: 54px;
  height: 54px;
  background-size: cover;
}
.fbi {
  background-image: url("./Job/FBI.png");
  width: 54px;
  height: 54px;
  background-size: cover;
}
.Mt {
  background-image: url("./Job/MT.png");
  width: 54px;
  height: 54px;
  background-size: cover;
}
.admins {
  background-image: url("./Job/9d9f08_25staff-team.png");
  width: 54px;
  height: 54px;
  background-size: cover;
}
html.mode .DarkMode {
  background-image: url("./light.png");
  width: 54px;
  height: 54px;
  background-size: cover;
}
.DarkMode {
  background-image: url("./dark.png");
  width: 54px;
  height: 54px;
  background-size: cover;
  
}
.clockgift{
  background-image: url("../images/ezgif-546431b27ad3a8.gif");
  width: 44px;
  height: 44px;
 
  background-size: cover;
}
#countdown {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.timerparametr {
  font-family: Gluten, cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0b0d13;
  border-radius: 10px;
  padding: 10px;
}
.timerparametr p {
  margin: 0px;
  padding: 10px;
}
.content4 {
  position: absolute;
  padding: 20px;
  height: 100%;
  /* width: 100%; */
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1%;
  left: 35%;
}
#section4{
  /* margin-right: 100%; */
  width: 100%;
}


.videos {
  max-height: calc(100vh - 100px); /* Adjust the height to fit within the viewport */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  direction: rtl;
  margin-top: 50px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  
  margin-right: 30%;
}

.videos::-webkit-scrollbar {
  display: none;
}


.vsec, .vsec2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vinfo1, .vinfo2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-title {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

video {
  width: 100%;
  height: auto;
}
.content1{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  margin-left: -40%;
  height: 400px;

}
.content2{
  margin-left: -240px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 30px;
  /* margin-top: 20px; */
}
.content3{
  margin-left: 240px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay-content {
  background-color: rgba(27, 26, 26, 0.656);
  backdrop-filter: blur(10px);
  padding: 20px;
  width: 500px;
  height: 540px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.deim{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 35%;
  gap: 20px;

}
.deim img{
  border-radius: 10px;
  width: 400px;
  height: 200px;
}
.jlg{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 90%;
  flex-direction: row-reverse;
  position: absolute;
  right: 9%;
  
  top: 13%;
}
.bbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 90%;
  left: 0;
  gap: 30px;
}
.bbtn #discord{
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40%;
  gap: 20px;
  color: white;

  background-color: rgb(81, 4, 197);
  transition: all 0.8s ease;
}
.bbtn #SetLocation{
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40%;
  gap: 20px;
  color: white;
  background-color: rgb(4, 75, 197);
  transition: all 0.8s ease;
}
.bbtn #discord:hover{
  background-color: rgb(46, 2, 112);
  
}
.bbtn #SetLocation:hover{
  background-color: rgb(2, 38, 99);
  
}
.overlay-content .jlg img {
  width: 100px;
  height: 100px;

}
.overlay-content .jlg h3{
  width: 100%;
  margin-top: 42px;
}
/* .overlay-content p{
  margin-top: 40%;
} */

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid #03216e;
  padding:3px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 33px;
  border-radius: 10px;
  /* border: 10px; */
  font-size: 27px;
  cursor: pointer;
  transition: all 0.8s;
}
.close-btn:hover{
  /* border: none; */
  background-color: #022274;
}
.copydis{
  background-color: rgb(0, 100, 43);
  padding: 10px;
  position: absolute;
  top: 20%;
  left: 37%;
  border-radius: 7px;
  color: white;
  font-family: 10px;
  word-spacing:3px ;
}
/* .content4{
  margin-left: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  width: 100%;
} */

        /* استایل سایدبار */
.sidebar {
          width: 50px;
          background-color: #010a20;
          padding: 10px;
          height:250px;
          position: fixed;
          right:0;
          top:31%;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
      }

      .sidebar button {
          display: block;
          width: 100%;
          padding: 10px;
          margin-bottom: 5px;
          background-color: transparent;
          color: white;
          border: none;
          cursor: pointer;
          text-align: left;
          align-items: center;
      }
      .sidebar button img{
        width: 40px;
      }

      .sidebar button:hover {
          background-color: #555;
      }

      /* استایل بخش‌های محتوا */
      .content {
          margin-left: 220px;
          padding: 20px;
          display: flex;
          
          
          /* justify-content: center; */
      }

      .content-section {
          display: none; /* همه بخش‌ها به طور پیش‌فرض مخفی هستند */
          align-items: center;
      }

     .content-section.active {
          display: block; /* بخش فعال نمایش داده می‌شود */
      }
